@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s, background-image 0.3s;
    background-repeat: no-repeat;
    background-position: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: rgba(76, 175, 80, 0.9);
    color: white;
    position: sticky;
    top: 0;
}

header h1 {
    margin: 0;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

main {
    padding: 2rem;
}

.search {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.search input {
    padding: 0.5rem;
    font-size: 1rem;
    margin-right: 0.5rem;
    width: 300px;
}

.search button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
}

#weatherInfo {
    text-align: center;
}

.weather-card {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dark-mode {
    background-color: #121212;
    color: white;
    background-image: url('https://i.ibb.co/Nn28zWh/thunderbolt-1905603-640.webp');
    background-size: cover;
}

.dark-mode .weather-card {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

.light-mode {
    background-image: url('https://i.ibb.co/jw6KVYL/weather-forecast.webp');
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: rgba(76, 175, 80, 0.9);
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.weather-icon {
    width: 100px;
    height: 100px;
}